body{
    background-color:rgba(44,78,74,255);
    color: rgb(148, 97, 3);
    padding: 40px;
    text-align: center;
}
p{
    padding: 40px;
}
h1{
    font-size: xx-large;
    font-weight: bold;
    padding: 40px;
    color:rgb(201, 131, 3);

}
h2{
    font-size: larger;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
    color:rgb(201, 131, 3);

}
footer{
    padding: 10px;
}
ol{
    list-style-type:decimal;
    list-style-position: inside;
}